<%= link_to "Home", landing_default_path %>

<h2>Crea tu publicación</h2>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Título:") %>
  <%= text_field_tag(:q) %>

  <p>
  <%= label_tag(:q, "Descripción:") %>
  <%= text_area_tag(:q) %>
  </p>

  <p>
  <%= submit_tag("Publicar") %>
  </p>
<% end %>
