<%= link_to "Home", landing_default_path %>

<h1>Publicación</h1>

<h2>Crea tu publicación</h2>

<%= form_with do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

